## Лекция 9
### Модуль Pandas

- Series
- DataFrame
- Работа с таблицами

Лекция прочитана Иваном Кисляковым. Разрешено к использованию в некоммерческих образовательных целях.

Для начала установите на компьютер библиотеки:

```
pip install pandas
pip install numpy
pip install matplotlib
```

**Задание 1.**

Импортируйте модуль **pandas**



```
import pandas as pd
```

**Задание 2.**

Глобально, модуль pandas состоит из двух сущностей: **Series** и **DataFrame**.

Сначала поработаем с Series:

Заполните series данными:

```
array = pd.Series(data)
```

**Задание 3.**

Чего-то не хватает для схожести с таблицами: давайте добавим "специфические" индексы.

На какой контейнер теперь стала похоже Series?

```
array = pd.Series(data, index=indexes)
```

**Задание 4.**

В свете предыдущего вопроса, попробуйте передать именно ту коллекцию, на которую она похожа.

А что если множество ключей не совпадает с множеством индексов?

**Задание 5.**

Создайте серию оценок по курсу "Программирование на Python". Назовите таблицу правильно:


```
s.name = ...
s.index.name = ...
```
На экран выведите первых трех студентов. А первого, третьего и четвертого?



```
series[[__indexes__]]
```

**Задание 6.**

Выберите всех пятерочников и выведите их на экран.

**Задание 7.**

Попробуйте поработать с series, как с np.array. Можно ли сложить две серии или применить сложную функцию?

А можно ли поменять значение в ячейке?

**Задание 8.**

Посмотрите на результат выполнения следующих функций:



```
s.isna()
s.describe()
s.index
s.dropna()
s.apply(func)
```

**Задание 9.**

Создайте объект типа DataFrame из обычного словаря списков и выведите его на экран.

**Задание 10.**

У DataFrame есть такие атрибуты, как:

```
df.index
df.columns
```

Измените ```df.index = [...]```

**Задание 11.**

Выведите первую и (первую и вторую) строчки таблицы, используя команду ```df.loc[index_line, index_col]```

Попробуйте воспользоваться срезками.

**Задание 12.**

С помощью команды ```df.head()``` и ```df.tail()``` выведите первые и последние строки таблицы. Попробуйте поменять их количество.

**Задание 13.**

За что отвечают атрибуты ```df.values, df.columns, df.index```

**Задание 14.**

Для DataFrame допустимы некоторые методы numpy: напрмимер, транспонирование (.T), ```df.sort_values(by='column', ascending=True/False```)

**Задание 15.**

Для чтения данных воспользуйтесь : ```pd.read_csv(...)```
Таблица ```SAT_2010.csv```

Вычислите суммарный балл слушателей и выведите пять лучших студентов. На экран выведите столбцы с их именами и названием школы.

**Задание 16.**

Прочитайте данные таблицы ```salary_prediction_data.csv```

Выведите на экран информацию о зарплатах людей, младше 40.

Постройте гистрограмму ```plt.hist()``` зарплат работников старше 40.