## Лекция 12
### SQL

Лекция прочитана Иваном Кисляковым. Разрешено к использованию в некоммерческих образовательных целях.

## SELECT

Выбрать данные из таблицы

```sql
SELECT столбцы таблицы FROM таблицы
SELECT id, director FROM airport
SELECT * FROM airport
```

## WHERE

```sql
SELECT столбцы таблицы FROM таблицы
    WHERE условие
    
SELECT CompanyName, ContactName, Phone FROM Customer
    WHERE City = "Berlin"  

```

Что может быть условием?

- знаки сравнения (>, <, =)
- логические связки (AND, OR, NOT)
- IN(от, до)
- LIKE "%@mail._ _"           email@mail.ru


```sql
SELECT * FROM Customer
    WHERE Region = (SELECT RegionDescription FROM Region WHERE id = 3)
```

## INSERT

```sql
INSERT INTO officers(race, gender, full_name)
    VALUES ("W", "M", "Kisliakov,Ivan")
```

## UPDATE

```sql
    UPDATE officers
        SET case_number = "106454R"
        WHERE full_name = "Kisliakov,Ivan"
```

## DELETE

```sql
DELETE FROM officers
    WHERE full_name="Kisliakov,Ivan"
```