# Семинар 12. DataBase & SQL.

Семинар собран Александрой Архиповой. Разрешено к использованию в некоммерческих образовательных целях с указанием авторства.

Вопросы и замечания можно отправлять по адресу mipt-dpo@yandex.ru

In [ ]:
import sqlite3

# подключение к БД (создаётся в файле или в памяти)
conn = sqlite3.connect("university.db")
cursor = conn.cursor()

#### Задание 1.

1. Создать таблицу `Students` с полями: `id`, `name`, `age`, `group_name`.

2. Создать таблицу Courses с полями: `id`, `title`, `credits`.

3. Создать таблицу `Enrollments` для связи студентов с курсами: `student_id`, `course_id`.

In [ ]:
# 1.1
cursor.execute("""
CREATE TABLE IF NOT EXISTS Students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    group_name TEXT
)
""")

In [ ]:
# 1.2

In [ ]:
# 1.3

#### Задание 2.

1. Добавить в таблицу `Students` минимум 5 студентов.

2. Добавить в таблицу `Courses` минимум 3 курса.

In [ ]:
# 2.1

In [ ]:
# 2.2

#### Задание 3.

Заполнить таблицу `Enrollments` так, чтобы студенты были записаны хотя бы на один курс.

In [ ]:
# 3

#### Задача 4.
SELECT запросы.

1. Выбрать всех студентов.

2. Выбрать имена студентов старше 20 лет.

3. Выбрать все курсы с количеством кредитов больше 3.

4. Вывести всех студентов, которые учатся в группе "CS-101".

In [ ]:
# 4.1

In [ ]:
# 4.2

In [ ]:
# 4.3

In [ ]:
# 4.4

#### Задача 5.
SELECT с условиями и сортировкой

1. Получить список студентов, отсортированных по имени в алфавитном порядке.

2. Найти самого младшего студента.

3. Найти самого старшего студента.

4. Получить список курсов, отсортированных по количеству кредитов (по убыванию).

In [ ]:
# 5.1

In [ ]:
# 5.2

In [ ]:
# 5.3

In [ ]:
# 5.4

#### Задача 6.
JOIN-запросы

1. Вывести всех студентов и курсы, на которые они записаны (JOIN).

2. Найти студентов, которые не записаны ни на один курс.

3. Найти курс, на который записано больше всего студентов.

In [ ]:
# 6.1

In [ ]:
# 6.2

In [ ]:
# 6.3

#### Задача 7.
Обновление и удаление

1. Обновить возраст у одного из студентов (например, увеличить на 1 год).

2. Перевести студента в другую группу.

3. Удалить из базы данных студента с определённым `id`.

In [ ]:
# 7.1

In [ ]:
# 7.2

In [ ]:
# 7.3

#### Задача 8.
Работа с данными и `GROUP BY`

1. Добавить в таблицу `Students` ещё 3 студентов.
2. Добавить новый курс `"Databases"` с 4 кредитами.
3. Записать всех студентов группы `"CS-101"` на курс `"Databases"`.
4. Посчитать количество студентов в каждой группе (`GROUP BY`).

In [ ]:
# 8.1

In [ ]:
# 8.2

In [ ]:
# 8.3

In [ ]:
# 8.4

#### Задача 9.

1. Вывести средний возраст студентов в каждой группе.
2. Найти максимальное и минимальное количество кредитов среди курсов.
3. Найти общее количество зачислений (всего записей в Enrollments).
4. Для каждого курса посчитать средний возраст студентов, которые его проходят.

In [ ]:
# 9.1

In [ ]:
# 9.2

In [ ]:
# 9.3

In [ ]:
# 9.4

#### Задача 10.

1. Найти группы, в которых больше 2 студентов.

2. Найти курсы, на которые записано не менее 2 студентов (`HAVING`).

In [ ]:
# 10.1

In [ ]:
# 10.2

#### Задача 11.

1. Найти студентов, у которых имя начинается на букву `"A"`.
2. Найти студентов, чьё имя содержит букву `"i"`.

In [ ]:
# 11.1

In [ ]:
# 11.2

#### Задача 12.

1. Найти студентов младше среднего возраста всех студентов (подзапрос).
2. Найти студентов старше 20 лет, которые записаны на курс `"Programming"`.

In [ ]:
# 12.1

In [ ]:
# 12.2

#### Задача 13.

1. Уменьшить количество кредитов у курса `"Physics"` на 1.

2. Удалить всех студентов младше 19 лет.

3. Перевести всех студентов из `"CS-101"` в `"CS-105"`.

4. Удалить курс, на который никто не записан.

In [ ]:
# 13.1

In [ ]:
# 13.2

In [ ]:
# 13.3

In [ ]:
# 13.4